@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@import "tailwindcss";

:root {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-content {
  width: 100dvw;
  min-width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

a {
  cursor: pointer;
}

h1 {
  font-family: var(--font-manufacturing);
  font-size: 2.5rem;
  color: #171717;
}

h2 {
  font-size: 2.25rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #171717;
  color: #171717;
  width: 45%;
  max-width: 150px;
  height: 50px;
  background-color: transparent;
}

.link-btn:hover {
  background-color: #171717;
  transition: all 0.6s ease-in-out;
  color: #ededed;
  cursor: pointer;
}

@media (hover: none) {
  .link-btn:active {
    background-color: #171717;
    color: #ededed;
    transition: all 0.6s ease-in-out;
  }
}

.product-headline,
.contact-headline,
.product-section, 
.header-container,
.carousel-btn-container {
  padding: 0 1rem;
}

/****
  HERO
****/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100svh;
  text-align: center;
  gap: 3rem;
}

.home-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

}

/****
  HEADER
****/

.header-container  {
  position: absolute;
  display: flex;
  align-items: center;
  height: 5em;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #ededed;
}


.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


#header-logo {
  width: 1.75em;
}

#nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.5em;
  height: .75em;
  cursor: pointer;
}

.burger-lines {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
}

.header-cart-icon {
  font-size: 1.25em;
}

#product-cart-icon {
  color: #ededed;
}

#contact-cart-icon {
  color: #ededed;
}

@media screen and (min-width: 768px) {
  #header-container {
    height: 8em;
  }

  #header-logo {
    width: 3.25em;
  }

  #nav-burger {
    width: 1.75em;
    height: 1em;
  }

  #header-cart-icon {
    font-size: 1.75em;
  }
}

/****
  PRODUCT
****/
.layout-wrapper {
  height: calc(100svh - 7rem);
  min-height: fit-content;
  width: 100svw;
}

.product-banner {
  display: flex;
  height: 90svh;
  width: 100dvw;
  overflow: hidden;
  font-family: var(--font-manufacturing);
}

  /* The horizontal track sliding left and right */
  .carousel-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.50s ease-in-out;
  }

.images-container {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.move {
  transform: translateX(-100%);
}

.banner-image {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-btn-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 50%;
}

.banner-next-slide, .banner-prev-slide {
  height: 20px;
  position: relative;
  color: #ededed;

}

.product-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.product-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.color {
  color: rgba(0, 0, 0, .5);
  font-size: .75rem;
}

.product-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid rgba(0, 0, 0, .125);
  /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .125); */
}

.hat-images {
  position: relative;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

/****
  CONTACT
****/

.contact-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: fit-content;
  width: 100%;
}

.contact-banner {
  width: 100%;
  height: 50svh;
  background-image: url("/images/ie-freeways.jpg");
  background-size: cover;
  background-position: top right 30%;
  opacity: .75;
  position: relative;
}

.contact-banner::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color:#000000;
  opacity: .75;
}

/* #contact-form-container {
  border: 1px solid red;
} */

.contact-headline {
  font-size: 2.5rem;
  font-weight: 600;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

/* .form-data-containers {
  border: 1px solid orange;
} */

.name-container {
  display: flex;
  justify-content: space-between;
}

.first-name-container, 
.last-name-container {
  display: flex;
  flex-direction: column;
  width: 47.5%;
}

label, 
input::placeholder, 
textarea::placeholder {
  color: #171717;
  opacity: .675;
}

label {
  font-size: .75rem;
  padding: 0 .25rem;
}

input, textarea {
  border: 1px solid #171717;
  /* border-radius: 4px; */
  width: 100%;
  font-size: .675rem;
}

input {
  height: 40px;
  padding: 0 .25rem;
}

textarea {
  height: 100px;
  padding: .5rem .25rem;
}

input::placeholder, 
textarea::placeholder {
  opacity: .25;
}

/****
  FOOTER
****/

footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 5rem;
  min-height: fit-content;
  width: 100%;
  color: white;
  background-color: black;
  margin-top: 2rem;
  padding: 0 1rem;
}

footer p {
  font-size: .675rem;
}

#footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.footer-logo-image {
  width: 2.25rem;
  height: auto;
}

.social-media-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .25rem;
  width: 17.5%;
}

.social-media-icon {
  font-size: 1.25rem;
  cursor: pointer;
  color: #ededed;
}

@media screen and (min-width: 768px) {
  footer {
    height: 8rem;
  }

  footer p {
    font-size: 1rem;
  }

  .footer-logo-image {
    width: 3.25rem;
  }

  .social-media-container {
    gap: .5rem;
  }

  .social-media-icon {
    font-size: 1.75rem;
  }
}